/*--------- RESET STYLES START --------- */
:root {
  --conteiner-width: 1200px;
  --basic-space: 15px;
  --primary-color: #46a358;
  --background-color: #f5f5f5;
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Cera Pro", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
}

/*--------- RESET STYLES END --------- */

/*--------- GLOBAL STYLES START --------- */

body {
  color: #3d3d3d;
}

a {
  text-decoration: none;
  color: #3d3d3d;
}

img {
  max-width: 100%;
  display: block;
}

/*--------- GLOBAL STYLES END --------- */

/*--------- CONTAINER START --------- */

.container {
  width: 100%;
  max-width: calc(var(--conteiner-width) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  margin-left: auto;
  margin-right: auto;
}

/*--------- CONTAINER END --------- */

/*--------- HEADER START --------- */

.header {
  border-bottom: 1px solid var(--primary-color);

  display: flex;
  align-items: center;

  margin-top: 25px;
  padding-bottom: 18px;
}

.header nav {
  margin-left: auto;
  margin-right: auto;
}

/*--------- HEADER END --------- */

/*--------- HEADER ACTIONS START --------- */

.header-actions {
  display: flex;
  align-items: center;
}

.header-actions > img {
  margin-right: 30px;
}

/*--------- HEADER ACTIONS END --------- */

/*--------- NAVIGATION MENU START --------- */

.menu {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.menu li {
  margin-right: 50px;
  display: inline-block;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  padding-bottom: 22px;
  border-bottom: 3px solid transparent;
  font-size: 16px;
  font-weight: 500;
}

.menu a:hover {
  border-bottom-color: var(--primary-color);
  font-weight: 700;
}

/*--------- NAVIGATION MENU END --------- */

/*--------- LOGIN BUTTON START --------- */

.login-button {
  display: inline-flex;
  align-items: center;
  width: 100px;
  margin-left: auto;
  padding: 7px 15px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
}

.login-button img {
  margin-right: 4px;
}

/*--------- LOGIN BUTTON END --------- */

/*--------- HERO SECTION START --------- */

.hero {
  margin-top: 12px;
  padding: 40px;
  background-color: var(--background-color);
}

.wrapper {
  display: inline-block;
  margin-top: 50px;
  max-width: 560px;
  vertical-align: top;
}

.hero-image {
  display: inline-block;
  max-width: 500px;
  vertical-align: top;
}

/*--------- HERO SECTION END --------- */

/*--------- HERO TEXT START --------- */

.hero-welcome {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
}

.hero-heading {
  max-width: 570px;
  margin-bottom: 5px;
  font-size: 70px;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
}

.accent {
  color: var(--primary-color);
}

.hero-description {
  margin-bottom: 44px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

/*--------- HERO TEXT END --------- */

/*--------- HERO BUTTON START --------- */

.hero-button {
  display: inline-block;
  padding: 10px 25px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 6px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

/*--------- HERO BUTTON END --------- */

/*--------- PRODUCTS SECTION START --------- */

.products {
  margin-top: 45px;
  padding: 0;
}

/*--------- SIDEBAR START ---------*/

.sidebar {
  float: left;
  width: 310px;
  padding: 15px;
  background-color: var(--background-color);
}

.sidebar h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
}

.sidebar-title {
  margin-bottom: 7px;
}

.size-title {
  margin-top: 45px;
  margin-bottom: 7px;
}

.sidebar-banner {
  margin-top: 20px;
  background-image: url("../images/bubbles.png");
  background-position: center;
}

.sidebar-banner img {
  width: 100%;
}

.sidebar .sale-title {
  padding-top: 15px;
  font-family: "Hanging Letters", sans-serif;
  font-size: 65px;
  color: var(--primary-color);
  text-align: center;
}

.sale-description {
  float: right;
  font-size: 23px;
  font-weight: 700;
  line-height: 0.6;
}

/*--------- SIDEBAR END --------- */

/*--------- CATEGORIES START --------- */

.categories-list {
  list-style: none;
}

.categories-list li {
  margin-bottom: 10px;
}

.categories-list li:last-child {
  margin-bottom: 0;
}

.categories-list a {
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 2.6;
}

.categories-list a:hover {
  color: var(--primary-color);
  font-weight: 700;
}

.categories-list span {
  font-size: 15px;
  float: right;
}

/*--------- CATEGORIES END --------- */

/*--------- PRICE RANGE START --------- */

.price-range-title {
  margin-top: 35px;
  margin-bottom: 30px;
}

.price-range {
  padding-left: 5px;
}

.price-range input {
  width: 100%;
  margin-bottom: 20px;
  accent-color: var(--primary-color);
}

.price-range p {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
}

.price-range p span {
  color: var(--primary-color);
  font-weight: 700;
}

.price-range button {
  border: none;
  border-radius: 6px;
  padding: 8px 25px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

/*--------- PRICE RANGE END --------- */

/*--------- CONTENT START --------- */

.content {
  float: right;
  width: 840px;
}

.products-top {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.products-tabs {
  list-style: none;
  font-size: 15px;
  font-weight: 400;
}

.products-tabs li {
  display: inline-block;
  margin-right: 40px;
}

.products-tabs li:last-child {
  margin-right: 0;
}

.products-tabs a {
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}

.products-tabs a:hover {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  font-weight: 700;
}

.sorting {
  margin-left: auto;
}

/*--------- CONTENT END --------- */

/*--------- CARDS START --------- */

.cards {
  margin-top: 30px;
}

.card {
  float: left;
  width: 250px;
  margin-right: 45px;
  margin-bottom: 70px;
  border-top: 2px solid transparent;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card:nth-child(3n + 1) {
  clear: left;
}

.card:hover {
  border-top: 2px solid var(--primary-color);
}

.card-image {
  position: relative;
  z-index: 1;
  background-color: var(--background-color);
}
.card-actions {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  width: 100%;
  display: none;
  justify-content: center;
  gap: 10px;
}
.card-actions button {
  background: var(--text-color);
  border: 1px solid var(--primary-color);
  padding: 5px;
  border-radius: 4px;
}
.card-actions button:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}
.card-image:hover .card-actions {
  display: flex;
}
.card h3 {
  margin: 20px 0 5px;
  font-size: 16px;
  font-weight: 400;
}

.card .price {
  margin: 0;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
}

.old-price {
  color: #727272;
  text-decoration: line-through;
  margin-left: 5px;
}

.sale {
  position: absolute;
  top: 15px;
  width: 100px;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
}
/*--------- CARDS END --------- */

/*--------- PAGINATION START --------- */

.pagination {
  float: right;
  margin-top: 20px;
}

.pagination a {
  display: inline-block;
  width: 40px;
  margin-right: 10px;
  padding: 8px 0;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  text-align: center;
}

.pagination a:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.pagination a img {
  width: 12px;
  display: inline-block;
}

/*--------- PAGINATION END --------- */

/*--------- CLEARFIX --------- */
.clearfix {
  display: block;
  clear: both;
}

/*--------- DISCOVER SECTION START --------- */

.discover {
  margin-top: 50px;
  padding: 40px 0 0;
}

/*--------- OFFERS START --------- */

.offers {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.offer {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
}

.offer > img {
  display: block;
  max-width: 45%;
  margin-top: -50px;
}

.offer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.offer-heading {
  margin: 20px 10px;
  max-width: 150px;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.3;
}

.offer-text {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.offer-button {
  padding: 10px 20px;
  margin: 25px 10px 0;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--text-color);

  font-size: 14px;
  font-weight: 500;
}

.offer-button img {
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}

/*--------- OFFERS END --------- */

/*--------- ARTICLES START --------- */

.articles {
  margin-top: 50px;
}

.articles-heading {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}
.articles-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 35px;
}
.articles-list {
  display: flex;
  gap: 30px;
}

.article {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  background-color: var(--background-color);
  text-align: left;
}

.article > img {
  display: block;
}

.article-date {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 10px;
}

.article-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 10px;
}

.article-description {
  color: #727272;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
}

.article-link {
  display: inline-block;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
  margin-top: 10px;
}

.article-link:hover {
  color: var(--primary-color);
}

.article-link svg {
  vertical-align: middle;
  top: 1px;
}
/*--------- ARTICLES END --------- */
