/*--------- RESET STYLES START --------- */
:root {
  --container-width: 1200px;
  --basic-space: 15px;
  --primary-color: #46a358;
  --background-color: #fbfbfb;
  --text-color: #ffffff;
  --submenu-hover-color: #1a712a;
  --submenu-background-color: #edf6ee;
  --secondary-text-color: #727272;
  --input-placeholder-color: #acacac;
  --divider-color: #46a3581a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Cera Pro", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
}

/*--------- RESET STYLES END --------- */

/*--------- GLOBAL STYLES START --------- */

body {
  color: #3d3d3d;
}

a {
  text-decoration: none;
  color: #3d3d3d;
}

img {
  max-width: 100%;
  display: block;
}
.button:hover {
  background-color: var(--submenu-hover-color);
}
/*--------- GLOBAL STYLES END --------- */

/*--------- CONTAINER START --------- */

.container {
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  margin-left: auto;
  margin-right: auto;
}

/*--------- CONTAINER END --------- */

/*--------- HEADER START --------- */

.header .container {
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 20px;
}

.header nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

/*--------- HEADER END --------- */

/*--------- HEADER ACTIONS START --------- */

.header-actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

/*--------- HEADER ACTIONS END --------- */

/*--------- NAVIGATION MENU START --------- */
ul {
  list-style: none;
}

.menu {
  font-family: "Encode Sans Expanded", sans-serif;
  display: flex;
  justify-content: center;
  gap: 45px;
}

.menu-link {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 3px solid transparent;
  padding-bottom: 27px;
}

.menu-arrow {
  display: none;
  position: relative;
  top: -2px;
}

.sub-menu a:hover .menu-arrow {
  display: block;
}
.menu-link:hover {
  border-bottom-color: var(--primary-color);
  font-weight: 600;
}

.menu-item {
  position: relative;
}

.sub-menu {
  display: none;
  width: 220px;
  padding-top: 45px;
  z-index: 5;
}
.sub-menu a {
  background-color: var(--submenu-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding: 10px 15px;
}

.sub-menu .menu-item a:hover {
  background-color: var(--submenu-hover-color);
  color: var(--text-color);
  font-weight: 700;
}
.menu-item:hover > .sub-menu {
  display: block;
}
.menu > .menu-item > .sub-menu {
  position: absolute;
  top: 100%;
  z-index: 5;
}
.sub-menu .sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
  padding-left: 5px;
  z-index: 5;
}
.sub-menu .menu-item {
  position: static;
}
/*--------- NAVIGATION MENU END --------- */

/*--------- LOGIN BUTTON START --------- */
.header-logo {
  display: flex;
  align-items: center;
}
.login-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 7px 15px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
}

.login-button img {
  margin-right: 4px;
}

/*--------- LOGIN BUTTON END --------- */

/*--------- HERO SECTION START --------- */

.hero {
  margin-top: 12px;
}
.hero .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--background-color);
  border: 2px solid rgb(98, 0, 255);
}

.wrapper {
  max-width: 560px;
  margin: 68px 0 0 44px;
  border: 2px solid rgb(98, 0, 255);
}

.hero-image {
  flex: 1;
  max-width: 500px;
  border: 2px solid red;
}

/*--------- HERO SECTION END --------- */

/*--------- HERO TEXT START --------- */

.hero-welcome {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
}

.hero-heading {
  max-width: 570px;
  margin-bottom: 5px;
  font-size: 70px;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
}

.accent {
  color: var(--primary-color);
}

.hero-description {
  margin-bottom: 44px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

/*--------- HERO TEXT END --------- */

/*--------- HERO BUTTON START --------- */

.hero-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  max-width: 140px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 6px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

/*--------- HERO BUTTON END --------- */

/*--------- PRODUCTS SECTION START --------- */

.products {
  margin-top: 45px;
}
.products-wrapper {
  display: grid;
  grid-template-columns: 310px minmax(0, 1fr);
  gap: 50px;
  align-items: start;
  margin-left: -15px;
  margin-right: -15px;
}
.content {
  width: 100%;
}
/*--------- SIDEBAR START ---------*/

.sidebar {
  background-color: var(--background-color);
  overflow: hidden;
  padding: 15px 15px 0 15px;
  display: grid;
  grid-template-columns: 1fr;
}
.sidebar ul {
  padding-left: 12px;
}

.sidebar h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
}

.sidebar-title {
  margin-bottom: 7px;
}
.size-title {
  margin-top: 45px;
  margin-bottom: 7px;
}

.sidebar-banner {
  background-image: url("../images/bubbles.png");
  background-position: center;
  margin-left: -15px;
  margin-right: -15px;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 45px;
}

.sidebar-banner img {
  width: 100%;
  align-self: end;
}

.sidebar .sale-title {
  padding-top: 15px;
  font-family: "Hanging Letters", sans-serif;
  font-size: 65px;
  color: var(--primary-color);
  text-align: center;
}

.sale-description {
  display: block;
  text-align: right;
  font-size: 23px;
  font-weight: 700;
  line-height: 0.6;
}

/*--------- SIDEBAR END --------- */

/*--------- CATEGORIES START --------- */

.categories-list {
  list-style: none;
}

.categories-list li {
  margin-bottom: 5px;
}

.categories-list li:last-child {
  margin-bottom: 0;
}

.categories-list a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 2.6;
}

.categories-list a:hover {
  color: var(--primary-color);
  font-weight: 700;
}

.categories-list span {
  font-size: 15px;
}

/*--------- CATEGORIES END --------- */

/*--------- PRICE RANGE START --------- */

.price-range-title {
  margin-top: 35px;
  margin-bottom: 30px;
}

.price-range {
  padding-left: 5px;
}

.price-range input {
  width: 100%;
  margin-bottom: 20px;
  accent-color: var(--primary-color);
}

.price-range p {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
}

.price-range p span {
  color: var(--primary-color);
  font-weight: 700;
}

.price-range button {
  border: none;
  border-radius: 6px;
  padding: 8px 25px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

/*--------- PRICE RANGE END --------- */

/*--------- CONTENT START --------- */

.products-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
}

.products-tabs {
  display: flex;
  gap: 35px;
  list-style: none;
  font-size: 15px;
  font-weight: 400;
}

.products-tabs li:last-child {
  margin-right: 0;
}

.products-tabs a {
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}

.products-tabs a:hover {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  font-weight: 700;
}

.sorting {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.sorting select {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: 15px;
  font-weight: 400;
}

/*--------- CONTENT END --------- */

/*--------- CARDS START --------- */

.cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 60px 35px;
}

.card {
  display: flex;
  flex-direction: column;
  border-top: 2px solid transparent;
}

.card:hover {
  border-top: 2px solid var(--primary-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: var(--background-color);
  height: 300px;
}

.card-actions {
  display: flex;
  position: absolute;
  z-index: 2;
  bottom: 5px;
  width: 100%;
  display: none;
  justify-content: center;
  gap: 10px;
}
.card-image img {
  max-width: 100%;
  max-height: 80%;
}
.card-actions button {
  background: none;
  border: none;
  padding: 5px;
  border-radius: 4px;
}

.card-actions button:hover {
  color: var(--primary-color);
}

.card-image:hover .card-actions {
  display: flex;
}
.card h3 {
  margin: 20px 0 5px;
  font-size: 16px;
  font-weight: 400;
}

.card .price {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
}

.old-price {
  color: #cbcbcb;
  text-decoration: line-through;
  margin-left: 5px;
}

.sale {
  position: absolute;
  top: 15px;
  left: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
}
/*--------- CARDS END --------- */

/*--------- PAGINATION START --------- */

.pagination {
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 8px 0;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

.pagination a:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: 700;
}

.pagination a img {
  width: 12px;
  height: auto;
  display: block;
}
.pagination a:hover img {
  filter: invert(1) brightness(2);
}
/*--------- PAGINATION END --------- */

/*--------- DISCOVER SECTION START --------- */

.discover {
  margin-top: 40px;
}

/*--------- OFFERS START --------- */

.offers {
  display: flex;
  gap: 30px;
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
  padding-top: 50px;
}

.offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background-color: var(--background-color);
  position: relative;
}

.offer > img {
  width: 280px;
  height: auto;
  display: block;
  position: absolute;
  left: -20px;
  top: -50px;
  z-index: 1;
}

.offer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin: 35px 35px 45px auto;
}

.offer-heading {
  margin-bottom: 10px;
  max-width: 170px;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.3;
}

.offer-text {
  margin-bottom: 25px;
  font-size: 14px;
  max-width: 300px;
  font-weight: 400;
  line-height: 1.5;
}

.offer-button {
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--text-color);

  font-size: 14px;
  font-weight: 500;
}

.offer-button img {
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}

/*--------- OFFERS END --------- */

/*--------- ARTICLES START --------- */

.articles {
  margin-top: 90px;
}

.articles-heading {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

.articles-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
}

.article > img {
  width: 100%;
  display: block;
}

.articles-list {
  margin-top: 35px;
}

.article {
  flex: 1;
  background-color: var(--background-color);
  text-align: left;
}

.articles-list .container {
  padding-inline: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.article-info {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.article-date {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.article-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 10px;
}

.article-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
}

.article-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 10px;
}

.article-link:hover {
  color: var(--primary-color);
}

.article-link svg {
  position: relative;
  top: 2px;
}

/*--------- ARTICLES END --------- */

/*--------- FOOTER START --------- */

.footer {
  margin-top: 100px;
}

.footer .container {
  background-color: var(--background-color);
}

.footer-top {
  display: flex;
  gap: 60px;
  padding: 25px 0 25px;
}

/*--------- FOOTER BENEFIT START --------- */

.footer-benefits {
  display: flex;
  gap: 30px;
  flex: 2;
}

.footer-benefit {
  flex: 1;
  position: relative;
}

.footer-benefit img {
  margin-bottom: 15px;
}

.footer-benefit h3 {
  margin: 0 0 10px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.2;
}

.footer-benefit p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--secondary-text-color);
}

.footer-benefit:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: -15px;
  width: 1px;
  background-color: var(--divider-color);
}

/*--------- FOOTER BENEFIT END --------- */

/*--------- FOOTER SUBSCRIBE START --------- */

.footer-subscribe {
  flex: 1;
}
.footer-subscribe h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin: 15px 0 25px;
}
.subscribe-form input {
  width: 100%;
  max-width: 300px;
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 6px 0 0 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  box-shadow: 0 0 20px 0 #0000000f;
}

.subscribe-form input::placeholder {
  color: var(--input-placeholder-color);
}

.subscribe-form button {
  width: 85px;
  height: 40px;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
}

.subscribe-form {
  display: flex;
  margin-bottom: 18px;
}

.footer-subscribe p {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--secondary-text-color);
}

/*--------- FOOTER SUBSCRIBE END --------- */

/*--------- FOOTER INFO START --------- */

.footer-info .container {
  background: linear-gradient(90deg, #edf6ef, #52c368);
}

.footer-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 0 33px;
}
.footer-location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-location p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.footer-email,
.footer-phone {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.footer-email a,
.footer-phone a {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*--------- FOOTER INFO END --------- */

.footer-top-menu {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 33px 0 30px;
}

/*--------- FOOTER COLUMNS START --------- */

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex: 2;
}

.footer-column {
  flex: 1;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.footer-column li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
}

/*--------- FOOTER COLUMNS END --------- */

/*--------- FOOTER SOCIAL START --------- */

.footer-social {
  flex: 1;
}

.footer-social-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-button,
.social-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #46a35833;
  border-radius: 4px;
  background-color: var(--background-color);
}

.social-button {
  padding: 7px;
}
.social-button:hover,
.social-facebook:hover {
  filter: brightness(90%);
}
.social-facebook {
  padding: 7px 11px;
}

.footer-accept {
  margin-top: 33px;
}

.footer-accept-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 14px;
}

/*--------- FOOTER SOCIAL END --------- */
/*--------- FOOTER BOTTOM START --------- */
.footer-bottom .container {
  border-top: 3px solid #46a35833;
  padding-top: 10px;
}
.footer-bottom {
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
}

/*--------- FOOTER BOTTOM END --------- */
/*--------- FOOTER END --------- */
